:root {
    --tracker-ball-size: 1em;
}

.back-to-home{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em;
    font-family: ringbearer, 'Times New Roman', Times, serif;
    color: var(--main-color-light);
}

body {
    position: relative;
    display: grid;
    >img{
        max-height: 15rem;
        place-self: center;
    }
}

.racetrack {
    color: var(--main-color-light);
    display: grid;
    gap: 1em;
    width: 100%;
    padding-block: 2em;
    container-type: inline-size;

    .location-tracker {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: start;

        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background-color: var(--main-color-light);
            align-self: end;
            margin-bottom: calc(var(--tracker-ball-size)/2);
        }

        p {
            text-box: trim-both cap alphabetic;
            padding-bottom: .5em;
        }

        .person {
            background-color: var(--main-color-light);
            aspect-ratio: 1;
            width: var(--tracker-ball-size);
            border-radius: 50%;
            &.user{
                transform: translateX(0%);
                transition: transform .8s linear;
            }
        }
    }
}

.values {
    display: grid;
    grid-template-columns: auto 1fr;
    & p:nth-child(2){
        justify-self: end;
    }
}

button {
    cursor: pointer;
}

.popup {
    position: fixed;
    place-self: center;
    place-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: none;
    inset: 0;
    background: transparent;
    font-family: ringbearer, 'Times New Roman', Times, serif;
    color: var(--main-color-light);
    text-align: center;
    &::backdrop{ /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::backdrop */
        background: rgba(0 52 0 / .5);
    }
    .countdown{
        font-size: 10em;
        font-family: ringbearer, 'Times New Roman', Times, serif;
    }
    .winner{
        font-size: var(--font-size-huge);
        align-self: end;
    }
    button{
        font-size: var(--font-size-big);
        align-self: start;
    }
}

.running {
    animation: runningAni var(--running-ani-duration) linear forwards;
}

@keyframes runningAni {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(100cqw - 100%));
    }
}